<<<<<<< HEAD
.nav_index{
    background-color: #526d85;
}

.footer_mid{
    background-color: #4e4466;
=======
.nav_index{
    background-color: #526d85;
}

.footer_mid{
    background-color: #4e4466;
>>>>>>> dee2be816cff8d779b8262ecc65e4116be349a52
}